{% extends 'base.html' %}

{% block title %}{{ place.name }}{% endblock %}

{% block back %}
	<div id="back" class=><a href="{% url 'places:search' %}{% if request.GET.q %}?q={{ request.GET.q }}{% endif %}">
		<span><i class="bi bi-arrow-left"></i>{% block back_text %}Back{% endblock %}</span>
	</a></div>
{% endblock %}

{% block content %}
	<h2 class="mb-4">{{ place.name }}</h2>
	<h4 class="mb-4">{{ place.address }}</h4>
	{% include "places/rating_widget_disabled.html" with value=place.total_rating only %}
	<p><a href="{% url 'places:ratings' view.kwargs.pk %}{% if request.GET.q %}?q={{ request.GET.q }}{% endif %}">See detailed ratings</a></p>
	<p><a href="{% url 'places:rate' view.kwargs.pk %}{% if request.GET.q %}?q={{ request.GET.q }}{% endif %}">Rate it</a></p>
{% endblock %}
